.footer{

    background-color: rgb(31, 31, 31);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upper{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.contacts{
    border-bottom: 1px solid #373636;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.contactrow{
    display: flex;
    flex-wrap: wrap;
}

.contact{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 0.4rem;
}

.icon svg{
    font-size: 30px;
    color: var(--main);
}


.info h4{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.info p{
    font-size: 15px;
    color: #757575;
}


/** SECOND SECTION **/

.content{
    padding: 3rem 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.brand{
    padding-right: 15px;
    padding-left: 15px;
}

.text{
    font-size: 14px;
    color: #757575;
    margin-top: 30px;
}


.quicklinks{
    padding: 0 15px;
    margin-top: 15px;
}

.header{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.header h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--main);
}


.links li{
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.links a{
    color: #757575;
}

.links a:hover{
    color: var(--main);
}

@media (min-width: 768px) {
    .contact{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .brand{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 576px) {
    .upper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .upper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .upper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .upper {
        max-width: 1140px;
    }
}
