.container{
    margin-top: 50px;
    padding: 5rem 10rem;
    position: relative;
}

.header{
    margin-bottom: 1rem;
}

.title{
    font-size: 18px;
}

@media screen and (max-width: 1450px){
    .container{
        padding: 5rem 5rem;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 5rem 4rem;
    }

    .title{
        text-align: center;
    }
}