.container{
    margin-top: 10px;
    padding: 2rem 10rem;
    position: relative;
}

.header{
    margin-bottom: 1rem;
    position: relative;

    display: flex;
}

.buttons{
    position: absolute;
    right: 0;
}

.buttons button{
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 2rem;
}

.buttons button:active{
    transform: scale(0.9);
}

.title{
    font-size: 18px;
}


.card{
    cursor: pointer;
    position: relative;
}

.image{
    position: relative;
    width: 220px;
    border-radius: 4px;
}

.image img{
    width: 220px;
    border-radius: 4px;
}

.image:hover img{
    filter: contrast(120%) brightness(90%);
}

.card:hover .icon{
    display: flex !important;
}

.prices{
    display: flex;
    margin-top: 0.7rem;
}

.prices p:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 113, 248);
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    margin-right: 8px;
    border-radius: 4px;
}


.prices p:nth-child(2){
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
}

.wish{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.icon{
    background-color: black;
    border: none;
    outline: none;
    font-size: 1.5rem;

    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding: 0.2rem;
    display: none;
}

.icon:hover{
    transform: scale(1.1);
}

.icon:hover .tooltip{
    display: block;
}

.tooltip{
    position: fixed;
    top: 1rem;
    transform: translateX(-65%) !important;
    background-color: rgb(34, 34, 34);
    opacity: 0.8;
    color: white;
    font-size: 14px;
    width: 150px;
    text-align: center;
    padding: 0.5rem 1rem;
    display: none;
}


.isBeginning{
    color: gray !important;
}


@media screen and (max-width: 1450px){
    .container{
        padding: 3rem 5rem;
    }
}


@media screen and (max-width: 768px){
    .container{
        padding: 4rem 4rem;
    }

    .title{
        text-align: center;
    }
}


@media screen and (max-width: 600px){
    .container{
        padding: 2rem 0 !important;
    }
}


@media screen and (max-width: 630px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}