.container{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    background-color: var(--main);
    border-radius: 50%;
    padding: 0.4rem;
    margin-right: 8px;
}

.logo svg{
    font-size: 1.75rem;
    color: black;
}

.container p{
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.5px;
}
