.logo {
    display: inline-flex;
    align-items: center;
}

.onLight {
    display: none;
}

:global([data-theme='light']) .onDark {
    display: none;
}

:global([data-theme='light']) .onLight {
    display: block;
}
